@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  padding-top: 70px;
  background-color: #f8f9fa;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
}

#navbar-main {
  z-index: 30; /* Debe ser mayor que la segunda barra */
}

#navbar-secondary {
  transition: transform 0.3s ease-in-out;
  z-index: 20; /* Un valor menor que la primera barra */
}

nav {
  font-family: "Roboto", sans-serif;
}

.navbar-nav .nav-link i {
  font-size: 1.4rem;
}

footer {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

/* Ajuste para que el formulario no se encoja en pantallas pequeñas */
@media (max-width: 992px) {
  .navbar-collapse {
    margin-top: 1rem;
  }
  .w-50.mx-auto {
    width: 100% !important;
    margin-bottom: 1rem;
  }
}

/* Contenedor del submenú */
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu .dropdown-menu {
  top: 0;
  right: 100%;
  left: auto;
  margin-left: 0;
  margin-right: 0.1rem;
  margin-top: -0.6rem;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 5px 5px 0;
  border-right-color: currentColor;
  margin-top: 5px;
  margin-right: -10px;
}

.icono-redes {
  background-color: #212529;
  color: #ffffff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-color {
  background-color: #e6e7e6;
  width: 100%;
}
.pie-footer {
  background-color: #234b43;
}

.nav-sec {
  background-color: #0e6856;
}
.button {
  padding: 4px 20px;
  width: 100%;
  border: none;
  outline: none;
  background-color: #151515ef;
  color: #eee;
  border-radius: 18px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease-out;
}

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 1), 0 5px 10px rgba(0, 0, 0, 0.4);
}

.button-span {
  color: #aaa;
}

/* Estilo opcional para la segunda barra */
.navbar.bg-light {
  font-size: 0.9rem;
}

.navbar.bg-light .nav-link {
  color: #495057;
  padding: 0.5rem 1rem;
}

.navbar.bg-light .nav-link:hover,
.navbar.bg-light .dropdown-item:hover {
  background-color: #e9ecef;
  color: #212529;
}

@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav-item {
    flex-grow: 1;
    text-align: center;
  }
}

/**/
nav se oculta .sticky-second-nav {
  transition: transform 0.3s ease;
}
.sticky-second-nav.hidden {
  transform: translateY(100%);
}

.bod-top {
  border-top: 4px solid rgba(24, 21, 21, 0.671);
}

/* Grilla Responsive */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  gap: 1rem;
  padding: 1rem 0;
}

.grid-carousel {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem 0;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Estilo base de la tarjeta */
.product-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  transition: box-shadow 0.5s ease-in-out;
  height: 100%;
}

.product-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.card-img-top {
  object-fit: cover;
  height: 200px;
}

.price-main {
  font-size: 20px;
  font-weight: bold;
  color: #212529;
}

.price-cash {
  color: #495057;
  font-size: 15px;
}

.installments {
  font-size: 14px;
  color: #666;
}

/*Botones de cards*/
.btn-custom {
  background-color: #2c3e50;
  color: white;
  border-radius: 30px;
  padding: 6px 16px;
  font-size: 14px;
  font-weight: 500;
  transition: box-shadow 0.3s ease-in-out;
}

.btn-custom:hover {
  background-color: #1f2b37;
  color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.btn-eye {
  border-radius: 30px;
  padding: 6px 16px;
  font-size: 14px;
  font-weight: 500;
  color: #666;
  border: 1px solid #ccc;
  transition: box-shadow 0.3s ease-in-out;
}

.btn-eye:hover {
  background-color: #f1f1f1;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.hide-nav {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.divisor {
  border: 1px solid #212529;
}

.carousel-img {
  width: auto;
  height: 400px;
  object-fit: cover;
}

/* Btn para las card del carousel */
.btn-carousel {
  background-color: #2c3e50;
  color: white;
  border-radius: 30px;
  padding: 2px 16px;
  font-size: 12px;
  font-weight: 500;
  transition: box-shadow 0.3s ease-in-out;
}

.btn-eye-carousel {
  border-radius: 30px;
  padding: 2px 16px;
  font-size: 12px;
  font-weight: 500;
  color: #666;
  border: 1px solid #ccc;
  transition: box-shadow 0.3s ease-in-out;
}

.btn-carousel:hover {
  background-color: #1f2b37;
  color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.btn-eye-carousel:hover {
  background-color: #f1f1f1;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
